.about{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.about h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}
.about-disp{
    justify-content: space-between;
    gap: 100px
}
.about-disp div{
    width: 50%;
}

.about-text h2{
    margin-bottom: 2rem;
}
.about-text h4{
    font-weight: 300;
}

