.achievements {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  
  .achievements h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  }
  
  .achievements-grid {
    display: grid;
    width: 100%;
    display: flex;
    justify-content: space-around;

  }
  
  .achievement {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    min-width: 150px;
    max-width: 250px;
  }
  
  .achievement:hover {
    transform: scale(1.05); 
  }
  
  .achievement h3 {
    font-size: 2.5rem;
    font-weight: 700; 
    padding-bottom: 5px;
  }
  
  .achievement h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 20px;
  }
  
  .achievement p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  