* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    padding-left: 60px;
    padding-right: 60px;
}


body {
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
flex{
    display: flex;
}
column{
    display: flex;
    flex-direction: column;
}
