.mission {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.mission h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}
.mission-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.mission-text {
    justify-content: space-between;
    width: 400px;
    
}
.mission-text h4{
    font-weight: 300;
}

.mission-text.left {
    text-align: left; 
    padding-right: 20px;
}

.mission-text.right {
    text-align: right;
    padding-left: 20px;
}

.mission-image {
    flex: 0 0 250px; 
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-image img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;}
