.mission {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 80px 0 ;
}
.mission h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}
.mission-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}
.mission-text {
    justify-content: space-around;
    width: 400px;
    
}
.mission-text h4{
    font-weight: 300;
    margin: 50px;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 0.2s; 
    opacity: 0;
    animation-fill-mode: forwards;
}

.mission-text.left {
    text-align: left; 
    
}

.mission-text.right {
    text-align: right;
    
}

.mission-image {
    flex: 0 0 250px; 
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-image img {
    width: 80%; 
    height: auto; 
    border-radius: 10px;
    animation: pulse 2s infinite ease-in-out;
}
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}


@keyframes pulse {
    0%, 100% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.05);
    }
}